<!DOCTYPE html>
<html>
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
{% include "head.html" %}

<body>
		<div id="preloader"></div>

    {% include 'header.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}
    {% include 'scripts.html' %}


<script type="text/javascript">
    var loader= document.getElementById('preloader');

    window.addEventListener("load", function(){
        loader.style.display="none";
    })

</script>
</body>

</html>